:root {
  --basic-black: #000000;
  --basic-logo: #ee3643;
  --basic-header: #293449;
  --basic-nav: #32425c;
  --basic-checkout: #63a63e;
  --basic-color: #f1f5f7;
  --basic-form: #f7f3ec;
  --basic-white: #ffffff;
  --basic-products: #f9f5f0;

  --special-materialserials: #ffbf47;
  --special-instruments: #3bbce3;
  --special-technics: #dc91d8;
  --special-discounts: #8ed78f;
  --special-text: #32425c;
  --special-text-discounts: #a9a9a9;
  --special-text-footer-nav: #f3f7f9;
  --special-text-footer-yellow: #ffd180;
  --special-border-products: #eaeaea;
}

* {
  box-sizing: border-box;
}

.page-body {
  min-width: 1200px;
  height: 100%;
  margin: 0px;
  padding: 0px;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  text-transform: none;
  background-color: var(--basic-white);
  color: var(--basic-black);
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.features-slider-list,
.features-list,
.container-products-list,
.produsers-list,
.credit-list,
.site-nav-list {
  list-style: none;
}

a {
  text-decoration: none;
}

.main-header {
  background-color: var(--basic-color);
}

.main-header-top {
  background-color: var(--basic-header);
}

.button-logo {
  border: none;
  width: 220px;
  height: 47px;
  color: var(--basic-white);
  background: var(--basic-logo);
  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
}

.link-logo {
  background-color: var(--basic-logo);
}

.checkout {
  font-size: 18px;
  background-color: var(--basic-checkout);
}

.bookmarks,
.basket {
  font-size: 18px;
  color: var(--basic-white);
}

.search-input {
  font-size: 18px;
  background-color: var(--basic-header);
  border: none;
}

.header-slogan {
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  text-transform: none;
  color: var(--basic-logo);
}

.header-phone-link {
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
  color: var(--basic-logo);
}

.header-address {
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: var(--special-text);
  text-transform: none;
}

.signin-button {
  font-size: 21px;
  line-height: 21px;
  text-align: center;
  color: var(--basic-black);
  text-transform: none;
  background-color: var(--basic-white);
  border: none;
}

.site-nav-list {
  font-size: 18px;
  line-height: 24px;
  background-color: var(--basic-nav);
}

.site-nav-link:hover {
  background: var(--basic-header);
  box-shadow: inset 0px -5px 0px #293449;
}

.site-nav-link:active {
  background: #1d2739;
  box-shadow: inset 0px -5px 0px #293449;
}

.visually-hidden {
  background-color: gray;
}

.features-title {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: var(--basic-white);
}

.button-features-link {
  background-color: white;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  width: 135px;
  height: 38px;
  text-transform: uppercase;
  border: none;
  opacity: 0.3;
}

.button-features-link:hover {
  background: #c5c5c5;
  opacity: 0.3;
}

.button-features-link:active {
  background: #a9a9a9;
  opacity: 0.3;
}
.features-item-materials {
  background-color: var(--special-materialserials);
  width: 300px;
  height: 123px;
}

.features-item-instruments {
  background-color: var(--special-instruments);
  color: var(--basic-white);
  width: 300px;
  height: 123px;
}

.features-item-technics {
  background-color: var(--special-technics);
  color: var(--basic-white);
  width: 300px;
  height: 123px;
}

.features-item-sale {
  background-color: var(--special-discounts);
  color: var(--basic-white);
  width: 300px;
  height: 123px;
}

.features-item-delivery {
  background-color: var(--special-materialserials);
  color: var(--basic-white);
  width: 300px;
  height: 123px;
}

.button-red-link {
  font-style: normal;
  font-weight: normal;
  background-color: var(--basic-logo);
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-white);
  width: 192px;
  height: 38px;
  border: none;
}

.features-slider-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;

  align-items: center;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: gray;
}

.slider-slogan-perforator,
.slider-slogan-drill {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;

  align-items: center;
  color: var(--basic-white);
  background-color: gray;
}

.container-products-top {
  background-color: var(--basic-products);
}

.products-title {
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;

  align-items: center;
  text-transform: uppercase;
  color: var(--special-text);
}

.button-link {
  background-color: var(--basic-logo);
  font-size: 14px;
  line-height: 18px;
  font-style: normal;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-white);
}

.button {
  background-color: var(--basic-logo);
  width: 192px;
  height: 38px;
  border: none;
}

.products-item-title {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;

  align-items: center;
  text-align: center;
  color: var(--basic-black);
}

.old-price {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;

  align-items: center;
  text-align: center;
  text-decoration-line: line-through;
  text-transform: uppercase;
  color: var(--special-text-discounts);
}

.last-price {
  background-color: var(--basic-logo);
  border: none;
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;

  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-white);
  width: 141px;
  height: 38px;
}

.products-item {
  width: 220px;
  height: 318px;
  border: 1px solid var(--special-border-products);
}

.produsers-item {
  width: 220px;
  height: 145px;
  border: 1px solid var(--special-border-products);
}
/*слайдер сервиса*/
.main-services {
  width: 100%;
  background-color: var(--basic-color);
  margin-bottom: 70px;
}
.main-services-container {
  padding-top: 64px;
  padding-bottom: 99px;
}

.container {
  max-width: 980px;
  margin: 0 auto;
  padding: 0 20px;
}

.services-header {
  margin-bottom: 70px;
}
.services-title {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  margin: 0 0 25px;
}
.services-slogan {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  margin: 0;
}

.services-points {
  display: grid;
  grid-template-columns: min-content 620px;
  row-gap: 80px;
  column-gap: 80px;
}
.services-list {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
}

.services-list::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 279px;
  background-image: url("../img/line.png");
}

.services-point {
  display: none;
}

.services-item:not(:last-child) {
  margin-bottom: 1px;
}

.services-name {
  display: block;
  width: 240px;
  padding: 13.5px 10px 18.5px 22px;
  background-color: var(--basic-nav);
  box-shadow: 0px 1px 0px var(--basic-header), inset 0px 1px 0px #405069;
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
  color: var(--basic-white);
  transition: all 0.1s;
}

.services-name:hover {
  cursor: pointer;
  background-color: var(--basic-header);
}

.services-slider {
  width: 620px;
  height: 100%;
  overflow: hidden;
}
.services-slides {
  width: 300%;
}
.service {
  float: left;
  width: 620px;
  height: 100%;
}
.service-delivery {
  background-image: url("../img/car.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
}
.service-guarantee {
  background-image: url("../img/guarantee.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
}
.service-credit {
  background-image: url("../img/credit.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
}
.service-title {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-nav);
  margin: 0 0 30px;
}
.service-slogan {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  margin: 0;
}
.service-slogan-credit {
  margin-bottom: 26.5px;
}
.services-point {
  display: none;
}
.services-point-delivery:checked ~ .services-list .services-name-delivery,
.services-point-guarantee:checked ~ .services-list .services-name-guarantee,
.services-point-credit:checked ~ .services-list .services-name-credit {
  background-color: var(--basic-white);
  color: var(--basic-nav);
  box-shadow: 0px 1px 0px var(--basic-white);
}
.services-point-delivery:checked ~ .services-list .services-name-delivery:hover,
.services-point-guarantee:checked
  ~ .services-list
  .services-name-guarantee:hover,
.services-point-credit:checked ~ .services-list .services-name-credit:hover {
  cursor: default;
}

.services-point-delivery:checked ~ .services-slider .services-slides {
  transform: translate(0);
}
.services-point-guarantee:checked ~ .services-slider .services-slides {
  transform: translate(-620px);
}
.services-point-credit:checked ~ .services-slider .services-slides {
  transform: translate(-1240px);
}

.company-name-title {
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.company-desc {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  color: var(--basic-black);
}

.transport-company-list {
  list-style: none;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: var(--basic-black);
}

.contacts-title {
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.contacts-route-desc {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  color: var(--basic-black);
}

.footer-logo-img {
  border: none;
  color: var(--basic-white);
  background-color: var(--basic-logo);
  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
  width: 220px;
  height: 68px;
}

.footer-phone {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;

  align-items: center;
  color: var(--special-text-footer-nav);
}

.footer-nav-item {
  list-style: none;
}

.footer-nav-link {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: var(--special-text-footer-nav);
}

.footer-tool-link:hover {
  align-items: center;
  text-decoration-line: underline;
  color: var(--special-text-footer-yellow);
}

.footer-nav-link:hover {
  align-items: center;
  text-decoration-line: underline;
  color: #f1f5f7;
}
.footer-nav-link:active,
.footer-tool-link:active {
  align-items: center;
  color: #f1f5f7;
  opacity: 0.5;
}

.footer-tool-link {
  color: var(--special-text-footer-yellow);
  list-style: none;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
}
.footer-tool-item {
  list-style: none;
}

.footer-bottom {
  background-color: var(--basic-header);
}

.footer {
  background-color: var(--basic-nav);
}

.footer-copy-desc {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
}

.footer-social-list {
  list-style: none;
}

.footer-social-link {
  display: inline-block;
  font-size: 0px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #212a3a;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.footer-social-link:hover {
  background-color: var(--basic-logo);
}

.footer-social-link:active {
  background-color: var(--basic-logo);
}

.link-vk {
  background-image: url(../img/icons/icon-vk.svg);
}

.link-fb {
  background-image: url(../img/icons/icon-fb.svg);
}

.link-inst {
  background-image: url(../img/icons/icon-insta.svg);
}

.footer-bootom-feedback,
.footer-bootom-developer {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
}

.feedback-mail-link,
.site-developer-link {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: var(--special-text-footer-yellow);
}

.feedback-mail-link:active,
.site-developer-link:active {
  color: #ee3643;
  text-decoration: none;
}

.feedback-mail-link:hover,
.site-developer-link:hover {
  text-decoration: underline;
}
