:root {
  --basic-black: #000000;
  --basic-logo: #ee3643;
  --basic-header: #293449;
  --basic-nav: #32425c;
  --basic-checkout: #63a63e;
  --basic-color: #f1f5f7;
  --basic-form: #f7f3ec;
  --basic-white: #ffffff;
  --basic-products: #f9f5f0;

  --special-materialserials: #ffbf47;
  --special-instruments: #3bbce3;
  --special-technics: #dc91d8;
  --special-discounts: #8ed78f;
  --special-text: #32425c;
  --special-text-discounts: #a9a9a9;
  --special-text-footer-nav: #f3f7f9;
  --special-text-footer-yellow: #ffd180;
  --special-border-products: #eaeaea;
}

.page-body {
  min-width: 1200px;
  margin: 0px;
  padding: 0px;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  text-transform: none;
  background-color: var(--basic-white);
  color: var(--basic-black);
}

.features-slider-list,
.features-list,
.container-products-list,
.produsers-list,
.credit-list,
.site-nav-list {
  list-style: none;
}

a {
  text-decoration: none;
}

.main-header {
  background-color: var(--basic-color);
}

.main-header-top {
  background-color: var(--basic-header);
}

.button-logo {
  border: none;
  width: 220px;
  height: 47px;
  color: var(--basic-white);
  background: var(--basic-logo);
  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
}

.link-logo {
  background-color: var(--basic-logo);
}

.checkout {
  font-size: 18px;
  background-color: var(--basic-checkout);
}

.bookmarks,
.basket {
  font-size: 18px;
  color: var(--basic-white);
}

.search-input {
  font-size: 18px;
  background-color: var(--basic-header);
  border: none;
}

.header-slogan {
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  text-transform: none;
  color: var(--basic-logo);
}

.header-phone-link {
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
  color: var(--basic-logo);
}

.header-address {
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: var(--special-text);
  text-transform: none;
}

.signin-button {
  font-size: 21px;
  line-height: 21px;
  text-align: center;
  color: var(--basic-black);
  text-transform: none;
  background-color: var(--basic-white);
  border: none;
}

.site-nav-list {
  font-size: 18px;
  line-height: 24px;
  background-color: var(--basic-nav);
}

.site-nav-link:hover {
  background: var(--basic-header);
  box-shadow: inset 0px -5px 0px #293449;
}

.site-nav-link:active {
  background: #1d2739;
  box-shadow: inset 0px -5px 0px #293449;
}

.visually-hidden {
  background-color: gray;
}

.features-title {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: var(--basic-white);
}

.button-features-link {
  background-color: white;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  width: 135px;
  height: 38px;
  text-transform: uppercase;
  border: none;
  opacity: 0.3;
}

.button-features-link:hover {
  background: #c5c5c5;
  opacity: 0.3;
}

.button-features-link:active {
  background: #a9a9a9;
  opacity: 0.3;
}
.features-item-materials {
  background-color: var(--special-materialserials);
  width: 300px;
  height: 123px;
}

.features-item-instruments {
  background-color: var(--special-instruments);
  color: var(--basic-white);
  width: 300px;
  height: 123px;
}

.features-item-technics {
  background-color: var(--special-technics);
  color: var(--basic-white);
  width: 300px;
  height: 123px;
}

.features-item-sale {
  background-color: var(--special-discounts);
  color: var(--basic-white);
  width: 300px;
  height: 123px;
}

.features-item-delivery {
  background-color: var(--special-materialserials);
  color: var(--basic-white);
  width: 300px;
  height: 123px;
}

.button-red-link {
  font-style: normal;
  font-weight: normal;
  background-color: var(--basic-logo);
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-white);
  width: 192px;
  height: 38px;
  border: none;
}

.features-slider-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: gray;
}

.slider-slogan-perforator,
.slider-slogan-drill {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  display: flex;
  align-items: center;
  color: var(--basic-white);
  background-color: gray;
}

.container-products-top {
  background-color: var(--basic-products);
}

.products-title {
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: var(--special-text);
}

.button-link {
  background-color: var(--basic-logo);
  font-size: 14px;
  line-height: 18px;
  font-style: normal;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-white);
}

.button {
  background-color: var(--basic-logo);
  width: 192px;
  height: 38px;
  border: none;
}

.products-item-title {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--basic-black);
}

.old-price {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-align: center;
  text-decoration-line: line-through;
  text-transform: uppercase;
  color: var(--special-text-discounts);
}

.last-price {
  background-color: var(--basic-logo);
  border: none;
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-white);
  width: 141px;
  height: 38px;
}

.products-item {
  width: 220px;
  height: 318px;
  border: 1px solid var(--special-border-products);
}

.produsers-item {
  width: 220px;
  height: 145px;
  border: 1px solid var(--special-border-products);
}

.main-delivery {
  background-color: var(--basic-color);
}

.service-section-title {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.delivery-section-title {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-nav);
}

.service-section-desc {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  color: var(--basic-black);
}

.delivery-section-desc {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  color: var(--basic-black);
}

.slider-credit-list {
  list-style: none;
}

.delivery-item-link,
.guarantee-item-link,
.credit-item-link {
  color: var(--basic-white);
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
}

.delivery-item,
.guarantee-item,
.credit-item {
  width: 240px;
  height: 61px;
  background: var(--basic-nav);
  box-shadow: 0px 1px 0px #293449, inset 0px 1px 0px #405069;
}

.delivery-item:hover,
.guarantee-item:hover,
.credit-item:hover {
  font-style: normal;
  background: #293449;
  box-shadow: 0px 1px 0px #293449, inset 0px 1px 0px #405069;
  width: 240px;
  height: 61px;
}

.delivery-item-link:hover,
.guarantee-item-link:hover,
.credit-item-link:hover {
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  color: var(--basic-white);
  width: 240px;
  height: 61px;
}

.delivery-item:active,
.guarantee-item:active,
.credit-item:active {
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  background-color: var(--basic-white);
  width: 240px;
  height: 61px;
}

.delivery-item-link:active,
.guarantee-item-link:active,
.credit-item-link:active {
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  color: var(--basic-nav);
  width: 240px;
  height: 61px;
}
.company-name-title {
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.company-desc {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  color: var(--basic-black);
}

.transport-company-list {
  list-style: none;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: var(--basic-black);
}

.contacts-title {
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.contacts-route-desc {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  color: var(--basic-black);
}

.footer-logo-img {
  border: none;
  color: var(--basic-white);
  background-color: var(--basic-logo);
  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
  width: 220px;
  height: 68px;
}

.footer-phone {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  display: flex;
  align-items: center;
  color: var(--special-text-footer-nav);
}

.footer-nav-item {
  list-style: none;
}

.footer-nav-link {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: var(--special-text-footer-nav);
}

.footer-tool-link:hover {
  display: flex;
  align-items: center;
  text-decoration-line: underline;
  color: var(--special-text-footer-yellow);
}

.footer-nav-link:hover {
  display: flex;
  align-items: center;
  text-decoration-line: underline;
  color: #f1f5f7;
}
.footer-nav-link:active,
.footer-tool-link:active {
  display: flex;
  align-items: center;
  color: #f1f5f7;
  opacity: 0.5;
}

.footer-tool-link {
  color: var(--special-text-footer-yellow);
  list-style: none;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
}
.footer-tool-item {
  list-style: none;
}

.footer-bottom {
  background-color: var(--basic-header);
}

.footer {
  background-color: var(--basic-nav);
}

.footer-copy-desc {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
}

.footer-social-list {
  list-style: none;
}

.footer-bootom-feedback,
.footer-bootom-developer {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
}

.feedback-mail-link,
.site-developer-link {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: var(--special-text-footer-yellow);
}
