@font-face {
  font-family: "Cuprum";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Cuprum-Regular"), local("Cuprum"),
    url("../fonts/cuprum.woff2") format("woff2"),
    url("../fonts/cuprum.woff") format("woff");
}
@font-face {
  font-family: "Cuprum";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local("Cuprum-Italic"), local("Cuprum"),
    url("../fonts/cuprumitalic.woff2") format("woff2"),
    url("../fonts/cuprumitalic.woff") format("woff");
}
@font-face {
  font-family: "Cuprum";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Cuprum-Bold"), local("Cuprum"),
    url("../fonts/cuprumbold.woff2") format("woff2"),
    url("../fonts/cuprumbold.woff") format("woff");
}
@font-face {
  font-family: "Cuprum";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: local("Cuprum-BoldItalic"), local("Cuprum"),
    url("../fonts/cuprumbolditalic.woff2") format("woff2"),
    url("../fonts/cuprumbolditalic.woff") format("woff");
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("PT Sans"), local("PT-Sans-Regular"),
    url("../fonts/ptsans.woff2") format("woff2"),
    url("../fonts/ptsans.woff") format("woff");
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("PT Sans"), local("PT-Sans-Bold"),
    url("../fonts/ptsansbold.woff2") format("woff2"),
    url("../fonts/ptsansbold.woff") format("woff");
}

:root {
  --basic-black: #000000;
  --basic-logo: #ee3643;
  --basic-header: #293449;
  --basic-nav: #32425c;
  --basic-checkout: #63a63e;
  --basic-color: #f1f5f7;
  --basic-form: #f7f3ec;
  --basic-white: #ffffff;
  --basic-products: #f9f5f0;
  --basic-lightgray: #eaeaea;
  --basic-greylight: #c5c5c5;
  --basic-grey: #3d546f;

  --special-materialserials: #ffbf47;
  --special-instruments: #3bbce3;
  --special-technics: #dc91d8;
  --special-discounts: #8ed78f;
  --special-text: #32425c;
  --special-text-discounts: #a9a9a9;
  --special-text-footer-nav: #f3f7f9;
  --special-text-footer-yellow: #ffd180;
  --special-border-products: #eaeaea;
  --special-button-hover: #ca2c37;
  --special-button-pressing: #ba2732;
  --logo-shadow: #b52933;
  --logo-shadow-click: #8e1e26;
  --active-link: #161d29;
  --register: #5fbb2d;
  --shadow-green: #367315;
  --shadow-active: #518534;
  --social-background: #212a3a;
  --breadcrumbs-home: #c1c6ce;
  --catalog-filter: #f7f3ec;
  --delimiter-color: #444444;
}

* {
  box-sizing: border-box;
}

.page-body {
  min-width: 960px;
  height: 100%;
  padding: 0px;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  text-transform: none;
  background-color: var(--basic-white);
  color: var(--basic-black);
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 980px;
  margin: 0 auto;
  padding: 0 20px;
}

/*красные кнопки*/

.button-link,
.button-link:link,
.button-link:visited {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--basic-white);
  font-size: 14px;
  line-height: 18px;
  width: 192px;
  height: 38px;
  background-color: var(--basic-logo);
}
.button-link:hover {
  background-color: var(--special-button-hover);
  cursor: pointer;
}
.button-link:active {
  background-color: var(--special-button-pressing);
}

/*Хэдер*/

.header {
  margin-bottom: 59px;
}
.header-top {
  width: 100%;
  background-color: var(--basic-header);
}

.header-top-container {
  display: flex;
  /*align-items: center;*/
}

/*Логотип*/

.link {
  display: flex;
  background: var(--basic-logo);
  box-shadow: inset 0px 0px 0px rgba(0, 0, 0, 0.24);
  position: relative;
  align-items: center;
  justify-content: center;
  line-height: 0;
  flex-shrink: 0;
}

.logo {
  width: 220px;
  height: 42px;
}

.link::before {
  position: absolute;
  content: "";
  height: 5px;
  background-color: var(--logo-shadow);
  bottom: -5px;
  right: 0;
  left: 0;
}

.link:active {
  background-color: var(--special-button-pressing);
}

.link:active::before {
  background-color: var(--logo-shadow-click);
}

/*Поиск*/

.search {
  position: relative;
}

.search-input {
  width: 271px;
  height: 42px;
  font-size: 18px;
  background-color: transparent;
  border: none;
  padding-left: 42px;
  color: var(--basic-white);
  border-radius: 0;
}

.search-input:focus {
  background-color: var(--basic-white);
  color: var(--basic-black);
  outline: none;
  font-size: 18px;
  padding-left: 42px;
  width: 271px;
}

.search-icon {
  position: absolute;
  fill: var(--basic-white);
  opacity: 0.5;
  margin: auto;
  left: 17px;
  top: 0;
  bottom: 0;
  transition: opacity 0.1s;
}

.search-input:focus + .search-label .search-icon {
  fill: var(--basic-logo);
  opacity: 1;
}

.search-input:hover + .search-label .search-icon {
  opacity: 1;
}

.search-input::-webkit-input-placeholder {
  color: var(--basic-white);
}

/*Закладки, корзина, оформить*/

.header-top-list {
  display: flex;
  /*align-items: center;*/
  margin: 0;
  padding: 0;
  list-style: none;
  min-width: 450px;
  flex-wrap: wrap;
}

.header-top-item {
  /*display: flex;
  align-items: center;*/
  height: 42px;
  width: 150px;
}

.header-top-item-link,
/*.header-top-item-link:link,*/
.header-top-item-link:visited {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--basic-white);
  text-decoration: none;
  font-size: 18px;
  transition: all 0.1s;
}

.header-top-item-icon {
  fill: var(--basic-white);
  opacity: 0.5;
  margin-right: 9px;
  transition: all 0.1s;
}

.header-top-item-link:hover .header-top-item-icon {
  opacity: 1;
}

.header-top-item-link:active {
  background-color: var(--active-link);
  color: rgba(255, 255, 255, 0.5);
}

.header-top-item-link:active .header-top-item-icon {
  opacity: 0.5;
}

.checkout {
  background-color: var(--basic-checkout);
}

.checkout:hover {
  background-color: var(--register);
}

.checkout:active {
  background-color: var(--basic-checkout);
  color: rgba(255, 255, 255, 0.5);
}

/*Средний хэдэр*/

.header-middle {
  width: 100%;
  background-color: var(--basic-color);
}

.header-middle-container {
  padding: 46px 20px 46px 50px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

/*Заголовок хэдэра*/

.header-middle-title {
  width: 197px;
  height: 100%;
  font-style: italic;
  font-weight: 400;
  line-height: 23px;
  font-size: inherit;
  color: var(--basic-logo);
  margin: 0;
}
/*Контакты хэдера*/

.header-middle-contacts {
  text-align: center;
  transform: translate(10px);
}

.header-phone-link,
.header-phone-link:link,
.header-phone-link:visited {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 45px;
  border: 3px solid var(--basic-white);
  text-decoration: none;
  color: var(--basic-logo);
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
}

.header-phone-link::before {
  display: inline-block;
  content: "";
  width: 19px;
  height: 19px;
  margin-right: 16px;
  background-image: url(../img/icons/icon-phone.svg);
  background-repeat: no-repeat;
}

.header-address {
  font-size: 14px;
  margin: 0;
  color: var(--basic-nav);
}

/*Авторизация хэдера*/

.header-middle-authorization {
  display: flex;
}

.sign-button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: inherit;
  font-size: 21px;
  line-height: 21px;
  background-color: var(--basic-white);
  border: none;
  outline: none;
  transition: all 0.1s;
}

/*.header-middle-authorization:not(:last-child) {
  margin-right: 10px;
}*/

.signin-button {
  width: 121px;
  height: 45px;
  margin-right: 10px;
}

.signup-button {
  width: 150px;
  height: 45px;
}

.signin-button-icon {
  fill: var(--basic-greylight);
  margin-right: 6px;
}

.sign-button:hover,
.sign-button:hover .signin-button-icon {
  color: var(--basic-logo);
  fill: var(--basic-grey);
  cursor: pointer;
}

.sign-button:active,
.sign-button:active .signin-button-icon {
  color: var(--basic-greylight);
  fill: var(--basic-greylight);
}

/*Нижний хэдер*/

/*.header-bottom {
  width: 100%;
  background-color: var(--basic-color);
  padding-bottom: 60px;
  margin-bottom: 59px;
}*/

.header-bottom-container {
  padding-bottom: 60px;
}

.site-nav {
  width: 100%;
}

.site-nav-list {
  height: 60px;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  background-color: var(--basic-nav);
  background: var(--basic-nav);
  box-shadow: inset 0px -5px 0px #293449;
}

.site-nav-item {
  height: 100%;
  flex-grow: 1;
}

.site-nav-link,
.site-nav-link:link,
.site-nav-link:visited {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: var(--basic-white);
  text-decoration: none;
  font-size: 18px;
  transition: all 0.1s;
}

.site-nav-link:hover {
  background-color: var(--basic-header);
}

.site-nav-link:active {
  color: rgba(255, 255, 255, 0.5);
}

/*Категория услуг и товаров*/

.main-features {
  /*width: 940px;*/
  margin-bottom: 59px;
}

.main-features-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 20px 20px;
  grid-auto-flow: row;
  grid-template-areas:
    "mat ins tech"
    "slider slider sale"
    "slider slider deliv";
  padding-left: 0px;
}

.features-item-materials {
  grid-area: mat;
}

.features-item-instruments {
  grid-area: ins;
}

.features-item-technics {
  grid-area: tech;
}

.features-item-sale {
  grid-area: sale;
}

.features-item-delivery {
  grid-area: deliv;
}

.features-slider {
  grid-area: slider;
}

.features-item.features-slider {
  padding: 0;
}

.features-slider-container {
  height: 100%;
}

.instruments-container {
  height: 100%;
}

.instruments-image {
  height: 100%;
}

html,
body,
.main-features-list {
  height: 100%;
  margin: 0;
}

/*.features-slider {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 4;
}*/

.features-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 22px;
}
.features-item-materials {
  background-color: var(--special-materialserials);
  background-image: url("../img/materials.svg");
  background-repeat: no-repeat;
  background-position: 83% 50%;
}
.features-item-instruments {
  background-color: var(--special-instruments);
  background-image: url("../img/instruments.svg");
  background-repeat: no-repeat;
  background-position: 83% 50%;
}
.features-item-technics {
  background-color: var(--special-technics);
  background-image: url("../img/tractor.svg");
  background-repeat: no-repeat;
  background-position: 83% 50%;
}
.features-item-sale {
  background-color: var(--special-discounts);
  background-image: url("../img/discounts.svg");
  background-repeat: no-repeat;
  background-position: 83% 50%;
}
.features-item-delivery {
  background-color: var(--special-materialserials);
  background-image: url("../img/delivery.svg");
  background-repeat: no-repeat;
  background-position: 83% 50%;
}
.new-item {
  position: relative;
  overflow: hidden;
}
.new-item::after {
  content: "new";
  position: absolute;
  display: flex;
  width: 100px;
  height: 30px;
  align-items: center;
  justify-content: center;
  top: 7px;
  right: -28px;
  margin: 0;
  transform: rotate(45deg);
  color: var(--basic-white);
  background-color: var(--basic-logo);
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
}
.features-title {
  color: var(--basic-white);
  margin: 0;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  margin-bottom: 14px;
}
.features-link,
.features-link:link,
.features-link:visited {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 135px;
  padding: 10px;
  text-decoration: none;
  color: var(--basic-white);
  background-color: rgba(255, 255, 255, 0.3);
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  transition: all 0.1s;
}
.features-link:hover {
  background-color: rgba(197, 197, 197, 0.3);
}
.features-link:active {
  background-color: rgba(169, 169, 169, 0.3);
}
/*Слайдер*/

/*Карточки товара*/

.popular {
  margin-bottom: 70px;
}

.popular-top {
  padding: 25px 14px 26px 28px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--basic-products);
  margin-bottom: 20px;
}

.products-title {
  margin: 0;
  color: var(--basic-nav);
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.popular-products-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: space-between;
}

.popular-products-item {
  display: flex;
}

.popular-products-item:not(:last-child) {
  margin-right: 20px;
}

.card-item {
  width: 220px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid var(--basic-lightgray);
  padding: 6px 18px 21px 18px;
  transition: all 0.1s;
}

.card-item:hover {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

.card-item-buttons {
  display: none;
}

.card-item:hover .card-item-buttons {
  order: -1;
  width: 100%;
  height: 164px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
}

.card-item:hover .card-item-image-container {
  display: none;
}

.card-item-title {
  margin: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 7px;
}

.card-item-image-container {
  order: -1;
  width: 100%;
  height: 164px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
}

.card-item-image {
  object-fit: contain;
}

.old-price {
  font-family: "PT Sans", "Arial", sans-serif;
  margin: 0;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  color: var(--special-text-discounts);
  text-decoration: line-through;
  margin-bottom: 13px;
}

.last-price,
.last-price:link,
.last-price:visited {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 121px;
  height: 38px;
  text-decoration: none;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  color: var(--basic-white);
  background-color: var(--basic-logo);
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  position: relative;
  padding-left: 5px;
}

.last-price::after {
  content: "";
  position: absolute;
  border: 19px solid transparent;
  border-left: 20px solid var(--basic-logo);
  border-right: none;
  right: -20px;
}

.button-pay,
.button-pay:link,
.button-pay:visited {
  display: flex;
  align-items: center;
  width: 135px;
  height: 38px;
  text-decoration: none;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: var(--basic-checkout);
  border-radius: 2px;
  box-shadow: inset 0px -3px 0px var(--shadow-green);
  padding-left: 30px;
  padding-right: 40px;
  transition: all 0.1s;
}

.button-pay:hover {
  background-color: var(--register);
}

.button-pay:active {
  background-color: var(--shadow-active);
}

.button-pay-icon-cart {
  margin-right: 8px;
  fill: var(--basic-white);
  fill-opacity: 0.3;
}

.card-item-button-pay {
  margin-bottom: 10px;
}

.button-bookmark,
.button-bookmark:link,
.button-bookmark:visited {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 135px;
  height: 38px;
  text-decoration: none;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-nav);
  border-radius: 2px;
  border: 3px solid var(--basic-checkout);
  transition: all 0.1s;
}

.button-bookmark:hover {
  border: 3px solid var(--basic-nav);
}

.button-bookmark:active {
  border: 3px solid var(--basic-nav);
  opacity: 0.5;
}

/*Популярные производители*/

.produsers-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  grid-auto-rows: 145px;
  gap: 20px;
  margin: 0;
  padding: 0;
  list-style: none;
}
.produsers-item-link,
.produsers-item-link:link,
.produsers-item-link:visited {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: 1px solid var(--basic-lightgray);
  transition: all 0.1s;
}
.produsers-item-link:hover {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}
.produsers-item-link:active {
  opacity: 0.5;
}

/*слайдер сервиса*/
.main-services {
  width: 100%;
  height: 522px;
  background-color: var(--basic-color);
  margin-bottom: 70px;
}
.main-services-container {
  padding-top: 64px;
  padding-bottom: 99px;
}

.services-header {
  margin-bottom: 70px;
}

.services-title {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  margin: 0 0 25px;
}

.services-slogan {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  margin: 0;
}

.services-slogan.slogan-main {
  width: 394px;
  height: 49px;
}

.services-slogan.slogan-delivery {
  width: 312px;
  height: 99px;
}

.services-slogan.slogan-guarantee {
  width: 312px;
  height: 122px;
}

.services-points {
  display: grid;
  grid-template-columns: min-content 620px;
  row-gap: 80px;
  column-gap: 80px;
}

.services-list {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
}

.services-list::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 279px;
  background-image: url("../img/line.png");
  top: -37px;
  right: 0px;
}

.services-point {
  display: none;
}

.services-item:not(:last-child) {
  margin-bottom: 1px;
}

.services-name {
  display: block;
  width: 240px;
  padding: 13.5px 10px 18.5px 22px;
  background-color: var(--basic-nav);
  box-shadow: 0px 1px 0px var(--basic-header), inset 0px 1px 0px #405069;
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
  color: var(--basic-white);
  transition: all 0.1s;
}

.services-name:hover {
  cursor: pointer;
  background-color: var(--basic-header);
}

.services-slider {
  width: 620px;
  height: 100%;
  overflow: hidden;
}
.services-slides {
  width: 300%;
}
.service {
  float: left;
  width: 620px;
  height: 100%;
}
.service-delivery {
  background-image: url("../img/car.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
}
.service-guarantee {
  background-image: url("../img/guarantee.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
}
.service-credit {
  background-image: url("../img/credit.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
}
.service-title {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-nav);
  margin: 0 0 30px;
}

.service-slogan-credit {
  margin-bottom: 26.5px;
  width: 280px;
  height: 63px;
}
.services-point {
  display: none;
}
.services-point-delivery:checked ~ .services-list .services-name-delivery,
.services-point-guarantee:checked ~ .services-list .services-name-guarantee,
.services-point-credit:checked ~ .services-list .services-name-credit {
  background-color: var(--basic-white);
  color: var(--basic-nav);
  box-shadow: 0px 1px 0px var(--basic-white);
}
.services-point-delivery:checked ~ .services-list .services-name-delivery:hover,
.services-point-guarantee:checked
  ~ .services-list
  .services-name-guarantee:hover,
.services-point-credit:checked ~ .services-list .services-name-credit:hover {
  cursor: default;
}

.services-point-delivery:checked ~ .services-slider .services-slides {
  transform: translate(0);
}
.services-point-guarantee:checked ~ .services-slider .services-slides {
  transform: translate(-620px);
}
.services-point-credit:checked ~ .services-slider .services-slides {
  transform: translate(-1240px);
}

/* Информация и карта*/

.main-company-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
}

.about {
  display: flex;
  flex-direction: column;
}

.about-title {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  margin: 0 0 24px;
}

.about-slogan {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  margin: 0 0 1px;
}

.about-slogan:not(:last-of-type) {
  margin-bottom: 27px;
}

.transport-company-list {
  list-style: none;
  padding: 0;
  margin: 0 0 20px;
}

.transport-company-item {
  font-size: 18px;
  display: flex;
  align-items: center;
}

.transport-company-item::before {
  content: "";
  display: inline-block;
  width: 25px;
  height: 2px;
  background-color: var(--basic-logo);
  margin-right: 12px;
}

.transport-company-item:not(:last-child) {
  margin-bottom: 12px;
}

.about-button {
  width: 220px;
}

.map {
  display: flex;
  flex-direction: column;
}

.map-title {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  margin: 0 0 24px;
}

.map-desc {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  margin: 0;
}

.map-contacts-buttons {
  margin-top: auto;
}

.map-button {
  width: 300px;
  height: 158px;
  margin-bottom: 26px;
  border: none;
  outline: none;
  padding: 0;
  line-height: 0;
  transition: all 0.1s;
}

.map-button:hover {
  cursor: pointer;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

.contacts-button {
  border: none;
  outline: none;
  padding: 0;
  line-height: 0;
  width: 100%;
}

/*футер верхний*/

.footer {
  display: flex;
  flex-direction: column;
}

.footer-top {
  background-color: var(--basic-nav);
  height: 193px;
}

.footer-top-container {
  display: flex;
  justify-content: space-between;
}

.footer-logo {
  height: 63px;
  margin-bottom: 27px;
}

.footer-phone {
  font-size: 18px;
  color: var(--special-text-footer-nav);
}

.footer-top-navigation {
  padding-top: 37px;
}

.footer-nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-end;
}

.footer-nav-list:not(:last-child) {
  margin-bottom: 34px;
}

.footer-nav-link,
.footer-nav-link:link,
.footer-nav-link:visited {
  text-decoration: none;
  font-size: 18px;
  transition: all 0.1s;
}

.footer-nav-link:hover {
  text-decoration: underline;
}

.footer-nav-link:active {
  opacity: 0.5;
  text-decoration: none;
}

.footer-nav-item:not(:last-child) {
  margin-right: 58px;
}

.footer-nav-link-top {
  color: var(--special-text-footer-nav);
}

.footer-nav-link-bottom {
  color: var(--special-text-footer-yellow);
}

/*нижний футер*/

.footer-bottom {
  background-color: var(--basic-header);
  height: 107px;
}

.container-footer {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  max-width: 980px;
  margin: 0 auto;
  padding: 0 20px;
  height: 100%;
}

.footer-bottom-container {
  display: flex;
}

.footer-social-container {
  padding-right: 40px;
}

.footer-copy-desc {
  line-height: 18px;
  color: var(--basic-white);
  width: 333px;
  height: 49;
}

.social {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.footer-social-item:not(:last-child) {
  margin-right: 4px;
}

.footer-social-link,
.footer-social-link:link,
.footer-social-link:visited {
  display: inline-block;
  font-size: 0;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--social-background);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  transition: all 0.1s;
}

.footer-social-link:hover,
.footer-social-link:active {
  background-color: var(--basic-logo);
}

.link-vk {
  background-image: url("../img/icons/icon-vk.svg");
}

.link-fb {
  background-image: url("../img/icons/icon-fb.svg");
}

.link-inst {
  background-image: url("../img/icons/icon-insta.svg");
}

.footer-contacts-info {
  color: var(--basic-white);
  line-height: 18px;
  margin: 0;
}

.footer-contacts-info:not(:last-child) {
  margin-right: 51px;
}

.footer-contacts-link,
.footer-contacts-link:link,
.footer-contacts-link:visited {
  color: var(--special-text-footer-yellow);
  text-decoration: none;
  transition: all 0.1s;
}

.footer-contacts-link:hover {
  text-decoration: underline;
}

.footer-contacts-link:active {
  color: var(--basic-logo);
  text-decoration: none;
}

/*Страница каталога*/

.header-top-item-link-filling,
.header-top-item-link-filling:link,
.header-top-item-link-filling:visited {
  background-color: var(--basic-logo);
}
.header-top-item-link-filling:hover {
  background-color: var(--special-button-hover);
  cursor: pointer;
}
.header-top-item-link-filling:active {
  background-color: var(--special-button-pressing);
}
/**/

.header-catalog {
  margin-bottom: 21px;
}

/*хлебные крошки*/

.breadcrumbs-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.breadcrumbs-item:not(:last-child)::after {
  display: inline-block;
  content: "";
  width: 8px;
  height: 12px;
  background-image: url("../img/icons/arrow-breadcrumbs.svg");
  margin: 0 17px;
}
.breadcrumbs-item .breadcrumbs-icon-home {
  padding-top: 1px;
}

.breadcrumbs-link,
.breadcrumbs-link:link,
.breadcrumbs-link:visited {
  display: inline-block;
  vertical-align: middle;
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-decoration: none;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-black);
  fill: var(--breadcrumbs-home);
}

.breadcrumbs-item:not(:last-child) .breadcrumbs-link:hover {
  color: var(--basic-logo);
  fill: var(--basic-logo);
}
.breadcrumbs-item:not(:last-child) .breadcrumbs-link:active {
  opacity: 0.5;
}
.breadcrumbs-link-current:hover {
  cursor: default;
}

/*авторизация пользователя*/
.account {
  display: flex;
  background-color: var(--basic-white);
  margin-bottom: 1px;
}
.icon-user {
  min-width: 20px;
  height: 18px;
  margin-right: 18px;
  fill: var(--basic-greylight);
}
.icon-user-exit {
  min-width: 20px;
  height: 17px;
  fill: var(--basic-greylight);
}
.account-profile-link,
.account-profile-link:link,
.account-profile-link:visited {
  display: flex;
  align-items: center;
  max-width: 300px;
  padding: 12px 10px 12px 15px;
  color: var(--basic-black);
  text-decoration: none;
  transition: all 0.1s;
}

.account-profile-link:hover .icon-user {
  fill: var(--basic-grey);
}

.account-profile-link:active,
.account-profile-link:active .icon-user {
  fill: var(--basic-greylight);
  color: var(--basic-greylight);
}

.account-profile-link .user-name {
  font-size: 21px;
  line-height: 21px;
}

.account-profile-exit,
.account-profile-exit:link,
.account-profile-exit:visited {
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: all 0.1s;
  padding: 12px 17px 12px 10px;
}

.account-profile-exit:hover .icon-user-exit {
  fill: var(--basic-grey);
}
.account-profile-exit:active .icon-user-exit {
  fill: var(--basic-greylight);
}

.personal-menu-list {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: -5px;
  flex-wrap: wrap;
}

.personal-menu-link,
.personal-menu-link:link,
.personal-menu-link:visited {
  align-items: center;
  text-decoration: none;
  color: var(--special-text);
  padding: 5px 5px 5px;
  line-height: 18px;
}
.personal-menu-link:hover {
  color: var(--basic-logo);
}
.personal-menu-link:active {
  color: var(--basic-greylight);
}

.personal-menu-item {
  display: flex;
  align-items: center;
}
.personal-menu-item:not(:last-child)::after {
  content: "";
  width: 4px;
  height: 4px;
  background-color: var(--basic-grey);
  border-radius: 50%;
  margin: 0 9px;
}

/*Сортировка*/
.main-content-navigation {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--catalog-filter);
  padding: 10px 17px 10px 20px;
  border-radius: 3px;
}

.sorting-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}

.sorting-list-buttons {
  width: 55%;
  margin-right: 46px;
}

.filters-title-text {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  flex-grow: 1;
}

.sorting-button {
  display: flex;
  background-color: transparent;
  border: none;
  border-bottom: 1px dotted var(--basic-logo);
  padding: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-greylight);
  transition: all 0.1s;
}

.sorting-button-active {
  color: var(--basic-logo);
  border: none;
  cursor: default;
}
.sorting-button:hover {
  cursor: pointer;
  color: var(--basic-black);
  border-bottom: 1px solid var(--basic-logo);
}

.sorting-button-active:hover {
  cursor: default;
  color: var(--basic-logo);
  border: none;
}

.sorting-button:active {
  color: var(--basic-logo);
  border: none;
}

.sorting-order {
  background-color: transparent;
  border: none;
  padding: 0;
  height: 10px;
  display: flex;
  align-items: center;
  transition: all 0.1s;
}

.sorting-order-current .sorting-icon {
  fill: var(--basic-logo);
}

.sorting-item-order:not(:last-child) {
  margin-right: 21px;
}

.sorting-icon {
  fill: var(--basic-greylight);
}

.sorting-order:hover .sorting-icon {
  cursor: pointer;
  fill: var(--basic-black);
}

.sorting-order-current:hover .sorting-icon {
  cursor: default;
  fill: var(--basic-logo);
}

.sorting-order:active .sorting-icon {
  fill: var(--basic-logo);
}

/*Фильтры товаров*/

.range-controls {
  padding: 29px 18px;
  background-color: var(--catalog-filter);
  margin-bottom: 9px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
}
.range-price-scale {
  position: relative;
  width: 180px;
  height: 2px;
  background-color: var(--basic-greylight);
}
.range-price-bar {
  height: 100%;
  width: 70%;
  background-color: var(--basic-checkout);
}
.toggle {
  position: absolute;
  cursor: pointer;
  display: flex;
  transform: translate(0, -50%);
}

.toggle:focus {
  outline: 3px solid var(--register);
}
.toggle-min {
  left: 0;
}
.toggle-max {
  left: 70%;
}
.price-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.delimiter {
  font-family: "PT Sans", "Arial", sans-serif;
  line-height: 18px;
  color: var(--delimiter-color);
}

.price-controls-input {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 18px;
  border: none;
  outline: none;
  background-color: var(--catalog-filter);
  width: 95px;
  padding: 10px;
  text-align: center;
  border-radius: 3px;
}
